@import '@fontsource/fira-code';
@import '@fontsource/atkinson-hyperlegible';

:root {
    --bg0: #191a1a;
    --bg1: #202121;
    --bgdef: #292828;
    --bg2: #32302f;
    --bg3: #383432;
    --bg4: #3c3836;
    --bg5: #45403d;
    --bg6: #504945;
    --bg7: #5a524c;
    --bg8: #665c54;
    --bg9: #7c6f64;

	color: #d4be98;
	/* background-color: var(--bg) !important;  */
}

html {
	/* font */
	--font-sans: 'Atkinson Hyperlegible', sans-serif;
	--font-mono: 'Fira Code', monospace;

	font-family: var(--font-sans);
    background-color: var(--bgdef) !important; 
	margin: 0;
	padding: 0;
	height: 100%
}


a:link {
	color: #d3869b;
}
a:visited, a:hover, a:active {
	color: #336264;
}
/* 
h2, p, a, h3, h4 {
    
	
}



.MathJax {
	color: #d4be98;
} */


ul,
ol {
	list-style: none;
	padding: 0;
}

li {
	padding-inline-start: 0;
}

.prose pre {
	max-inline-size: 100%;
	/* padding: 1rem; */
	border-radius: 8px;
	tab-size: 2;
}
img {
	max-width:  100%;
	height: auto;
}